#content-g-dc{
    display: block;
    position: relative;
    margin: auto 0;
    width: 100%;
    .btn-clock{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 5px 5px 0 0;
        border: none;
        background: linear-gradient(90deg, rgba(102,102,119,1) 0%, rgba(13,13,24,1) 100%);
        color:white;
        font-size: 9px;
        padding: 0;
        top: -20px;
        left: 30px;
        
    }
    .btn-clock:active{
        background: linear-gradient(90deg, rgba(71,71,82,1) 0%, rgba(13,13,24,1) 100%);
        height: 15px;
        top: -15px;
    }

    #content-digital-clock{
        position: relative;
        background: linear-gradient(182deg, rgb(67, 67, 88) 0%, rgba(19,19,41,1) 100%);
        padding: 12px;
        border-radius: 10px;
        margin-top: 19px;
        z-index: -2;
        box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.452);
        z-index: 1;
        #digital-clock{
            color:black;
            padding: 3% 0;
            border: 1px solid rgba(34, 32, 32, 0.795);
            border-radius: 2px;
            background: linear-gradient(182deg, rgb(67, 67, 88) 0%, rgba(19,19,41,1) 100%);
            
            #window-digital-clock{
                background-color:black;
                
                .show-current-time{
                    color:rgb(255, 18, 18);
                    font-family: 'digital-clock-font';
                    font-size: 20vw;
                    text-align: center;
                    .number{
                        display: inline-block;
                        text-align: center;
                    }
                }
                .dc-window-second{
                    color:white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;align-items: center;
                    
                    .show-current-date{
                        margin: 2% 0;
                        text-align: center;
                        .dc-number{
                            font-family: 'digital-clock-font';
                            font-size: 5.5vw;
                            color:rgb(255, 50, 50);

                        }
                        .dc-chart{
                            font-family: 'RopaSans-Italic';
                            font-size: 4.5vw;
                            margin-right: 8px;
                        }
                    }
                    .show-current-day{
                        margin: 2% 0;
                        text-align: center;
                        font-family: 'RopaSans-Italic';
                        position: relative;

                        span{
                            margin-left: 6px;
                            font-size: 4.5vw;
                        }
                        .day-red{
                            color:red;
                        }
                    }
                }
            }

        }
    }
}

@media (min-width: 520px){
    #content-g-dc{
        #content-digital-clock{
            #digital-clock{
                #window-digital-clock{
                    .show-current-time{
                        
                        .number{}
                    }
                    .dc-window-second{
                        flex-direction: row;
                        justify-content: space-evenly;
                        
                        .show-current-date{
                            margin: 1% 0;
                            .dc-number{
                                font-size: 3.5vw;     
                            }
                            .dc-chart{
                                font-size: 2.5vw;
                            }
                        }
                        .show-current-day{
                            margin: 1% 0;
                            span{
                                font-size: 2.5vw;
                            }
    
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 744px){
    #content-g-dc{
        #content-digital-clock{
            #digital-clock{
                #window-digital-clock{
                    padding: 0 10px;
                    .show-current-time{
                        font-size: 12vw;
                    }
                    .dc-window-second{
                        flex-direction: column;
                        justify-content: space-evenly;
                        
                        .show-current-date{
                            margin: 1% 0;
                            .dc-number{
                                font-size: 3.5vw;     
                            }
                            .dc-chart{
                                font-size: 
                                2.5vw;
                            }
                        }
                        .show-current-day{
                            margin: 1% 0;
                            span{
                                font-size: 2.5vw;
                            }
    
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 900px){
    #content-g-dc{
        #content-digital-clock{
            #digital-clock{
                #window-digital-clock{
                    padding: 0 10px;
                    .show-current-time{
                        font-size: 127px;
                    }
                    .dc-window-second{
                        flex-direction: row;
                        justify-content: space-evenly;
                        
                        .show-current-date{
                            margin: 1% 0;
                            .dc-number{
                                font-size: 20px;     
                            }
                            .dc-chart{
                                font-size: 
                                15px;
                            }
                        }
                        .show-current-day{
                            margin: 1% 0;
                            span{
                                font-size: 15px;
                            }
    
                        }
                    }
                }
            }
        }
    }
}