#content-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    .title-project{
        text-align: center;
    }
    .project{
        margin: 20px 0;
    }
    .descrip-project{
        .paragraph{
            text-align: center;
        }
    }
}
