#content-tablet-desktop{
    width: 100%;
    height: 832px;
    margin: 0 2%;
    border-radius: 24px;
    border:1px solid black;
    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    #content-mix{
        flex-grow: 1;
        height: 0%;
        display: flex;

        #navigation-bar{
            width: 254px;
            background: #F7DF1E;
        }
        #general-content{
            width: 50%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            #content-pages{
                flex-grow: 1;
                padding: 35px;
                overflow: scroll;
            }
            #content-pages::-webkit-scrollbar{
                display: none;
            }
        }
    }

}

@media (max-height: 832px){

}

@media (min-width: 1440px){
    #content-tablet-desktop{
        width: 1440px;
        margin: 0;
    }
}