.title{
    font-family: 'Poppins-SemiBold';
    margin: 0;
    transition: all .3s;
    body.dark &{
        color: #ffffff;
    }
}
@media (min-width: 744px){
    .title{
        font-size: 32px;
    }
}