#content-mobile{
    background: #ffffff;
    margin: 4%;
    border-radius: 14px;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    overflow: hidden;
    box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.384), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    .content-pages{ 
        flex-grow: 1;
        padding: 6%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }
    .content-pages::-webkit-scrollbar{
        display: none;
    }
}


@media screen and ((max-width: 743px)) {
    #content-mobile{
        width: 100%;
    }
}