#content-mobile{
    margin: 4%;
    border-radius: 14px;
    border: 1px solid black;
    min-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    overflow: hidden;

    .content-pages{
        flex-grow: 1;
        padding: 6%;
        overflow: scroll;
    }
    .content-pages::-webkit-scrollbar{
        display: none;
    }
}


@media screen and ((max-width: 743px)) {
    #content-mobile{
        width: 100%;
    }
}