.card-projects{
    display: flex;
    margin: 2%;
    border-radius: 3%;
    
    background: #2D2D2D;
    text-decoration: none;
    overflow: hidden;

    .contenet-card{
        flex-grow: 1;
        img{
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .box-descripcion{
        padding: 10px;
        h1,p{
            margin: 0;
            font-size: 16px;
        }
        .name-project{
            color: #F7DF1E;
            font-family: "IBMPlexSans-SemiBold";
        }
        .des-project{
            color: white;
            font-family: 'IBMPlexSans-Regular';
        }
    }
}

@media screen and (min-width: 671px) {
    .card-projects{
        width: 249px;
    }
}

