.card-projects{
    display: flex;
    margin: 2%;
    border-radius: 3%;
    
    background: #2D2D2D;
    text-decoration: none;
    overflow: hidden;
    box-shadow:7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    .contenet-card{
        flex-grow: 1;
        img{
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .box-descripcion{
        padding: 10px;
        h1,p{
            margin: 0;
            font-size: 16px;
        }
        .name-project{
            color: #F7DF1E;
            font-family: "IBMPlexSans-SemiBold";
        }
        .des-project{
            color: white;
            font-family: 'IBMPlexSans-Regular';
        }
    }
}

@media screen and (min-width: 671px) {
    .card-projects{
        width: 249px;
    }
}

@media (min-width: 744px) {
    .card-projects{
        width: 174px;
        .box-descripcion{
            h1,p{
                font-size: 13px;
            }
        }
    }
}

@media (min-width: 910px) {
    .card-projects{
        width: 249px;
        .box-descripcion{
            h1,p{
                font-size: 16px;
            }
        }
    }
}