#content-app-slider{
    width: 100%;
    overflow: hidden;

    #content-box-slider{
        display: flex;
        flex-direction: column;
        position: relative;

        .images-slider{
            position: relative;
            z-index: 3;
            .img-slider{
                width: 100%;
            }
        }
        #button-row-slider{
            width: 100%;
            height: 100%;
            flex-grow: 4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            .btn-arrow-slider{
                position: relative;
                z-index: 4;
                background: none;
                border:none;
                .btn{
                    border: none;
                }
            }
        }
        #box-btn-cs{
            height: 95%;
            width: 100%;
            position: absolute;
            display:flex;
            justify-content:center;
            align-items: flex-end;
            .buttons-cs{
                display: flex;
                justify-content:center;
                .btn-circle-slider{
                    width: 11px;
                    height: 11px;
                    position: relative;
                    z-index: 3;
                    border-radius: 50px;
                    background: rgb(255, 255, 255);
                    border: none;
                    margin: 0 5%;
                }
            }
            
        }
    }
}

@media (min-width: 320px){
	#button-row-slider{
		.btn-arrow-slider{
			.btn{
				width:30px;
			}
		}
	}
}

@media (min-width: 420.5px){
	#button-row-slider{
		.btn-arrow-slider{
			.btn{
				width:40px;
			}
		}
	}
}

@media (min-width: 521px){
	#button-row-slider{
		.btn-arrow-slider{
			.btn{
				width:60px;
			}
		}
	}
}