.button-menu:hover{
    background: #131313;
    a,p{
        color: #F7DF1E;
    }
}
@media (min-width: 744px){
    .button-set-menu{
        margin-top: 32px;
        .button-menu{
            a,p{
                font-family: 'Poppins-Medium';
                font-size: 15px;
            }
        }
        .button-menu:hover{
            background: #131313;
            a,p{
                color: #F7DF1E;
            }
        }
    }
}