#header-mobile{
    height: 59px;
    box-shadow: 0 3px 5px 0 rgb(212, 212, 212);
    .content-header{
        padding: 0 12px 0 12px;
        height: 59px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 744px){
    #header-mobile{
        height: 76px;
        .content-header{
            height: 76px;
            padding: 0 16px 0 16px;
        }
    }
}