*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: 'IBMPlexSans-Regular';
    src: url('./assets/fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: "IBMPlexSans-Medium";
    src: url("./assets/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: "IBMPlexSans-SemiBold";
    src: url("./assets/fonts/IBMPlexSans-SemiBold.ttf");
}


//Fuentes que usa las aplicaciones
@font-face {
    font-family: 'digital-clock-font';
    src: url('./assets/fonts/digital-clock.ttf');
}

@font-face {
    font-family: 'RopaSans-Italic';
    src: url('./assets/fonts/RopaSans-Italic.ttf');
}

@font-face {
    font-family: 'SF-Digital-Readout-Light-Obliq';
    src: url('./assets/fonts/SF-Digital-Readout-Light-Obliq.ttf');
}



body{
    margin: auto auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#root{
    display: flex;
    flex-grow: 1;
    height: 100vh;
    justify-content: center;
}

section{
    margin-bottom: 5%;
}



