*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face{
    font-family:'Poppins-Regular';
    src:url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: 'IBMPlexSans-Regular';
    src: url('./assets/fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: "IBMPlexSans-Medium";
    src: url("./assets/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
    font-family: "IBMPlexSans-SemiBold";
    src: url("./assets/fonts/IBMPlexSans-SemiBold.ttf");
}


//Fuentes que usa las aplicaciones
@font-face {
    font-family: 'digital-clock-font';
    src: url('./assets/fonts/digital-clock.ttf');
}

@font-face {
    font-family: 'RopaSans-Italic';
    src: url('./assets/fonts/RopaSans-Italic.ttf');
}

@font-face {
    font-family: 'SF-Digital-Readout-Light-Obliq';
    src: url('./assets/fonts/SF-Digital-Readout-Light-Obliq.ttf');
}



body{
    margin: auto auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    position: relative;
    
    background-image: url('./assets/Images/ImgcDay.svg'), linear-gradient(0deg, rgba(207,245,222,1) 0%, rgba(143,206,237,1) 35%, rgba(102,182,245,1) 71%, rgba(77,166,251,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
    &::before{
        width: 100%;
        height: 100%;
        content: "";
        background-image: url('./assets/Images/ImgcMoon.svg');
        background-position: top left;
        background-size: 20vw;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: all .6s;
    }
    
    &::after{
        width: 100%;
        height: 100%;
        content: "";
        background-image: url('./assets/Images/ImgcSun.svg');
        background-position: top left;
        background-size: 20vw;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        transition: all .6s;
    }
    &.dark{
        background-image: url('./assets/Images/estrellas.svg') ,linear-gradient(0deg, rgba(77,124,220,1) 0%, rgba(49,82,204,1) 35%, rgba(0,68,182,1) 71%, rgba(58,67,172,1) 100%);
    }
    &.dark::before{
        background-position: top right;
        opacity: 1;
    }

    &.dark::after{
        background-position: top right;
        opacity: 0;
    }
}

#root{
    display: flex;
    flex-grow: 1;
    height: 100vh;
    justify-content: center;

    background-image: url('./assets/Images/Paisaje.svg');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}


section{
    margin-bottom: 5%;
}

a,button {
    -webkit-tap-highlight-color: transparent;
  }

@media (min-width: 744px){
    #root{
        align-items: center;
    }
}