#footer{
    height: 59px;
    background: #1b1b1b;
    border-radius: 0 0 14px 14px;
    
    .content-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 59px;
    }
}