.button-header{
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    transition: all .3s;
    body.dark &{
        &:hover{
            background: rgb(61, 61, 61);
        }
    }
}
.button-header:hover{
    background: rgb(245, 245, 245);
}